# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

nginx/Debug/
nginx/logs/
nginx/nginx.ncb
nginx/nginx.vcproj.CORP.weizili.user

