# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

nginx-win32-src/Debug/
nginx-win32-src/logs/
nginx-win32-src/nginx.ncb
nginx-win32-src/nginx.vcproj.CORP.weizili.user
nginx-win32-src/nginx.suo
