# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.d
*.bak

nginx-win32-src/Backup/
nginx-win32-src/UpgradeLog.htm
nginx-win32-src/nginx.opensdf
nginx-win32-src/nginx.sdf
nginx-win32-src/nginx.v12.suo


nginx-win32-src/Debug/
nginx-win32-src/logs/
nginx-win32-src/nginx.ncb
nginx-win32-src/nginx.vcproj.CORP.weizili.user
nginx-win32-src/nginx.suo
ext-module/deep_understand_nginx_subrequest/nginx
ext-module/dns_subrequest/nginx
ext-module/hello_world/nginx
nginx-1.0.15/Makefile
nginx-1.0.15/nginx/
nginx-1.0.15/objs/
ext-module/hello_world/conf/fastcgi.conf
ext-module/hello_world/conf/fastcgi.conf.default
ext-module/hello_world/conf/fastcgi_params
ext-module/hello_world/conf/fastcgi_params.default
ext-module/hello_world/conf/koi-utf
ext-module/hello_world/conf/koi-win
ext-module/hello_world/conf/mime.types
ext-module/hello_world/conf/mime.types.default
ext-module/hello_world/conf/nginx.conf.default
ext-module/hello_world/conf/scgi_params
ext-module/hello_world/conf/scgi_params.default
ext-module/hello_world/conf/uwsgi_params
ext-module/hello_world/conf/uwsgi_params.default
ext-module/hello_world/conf/win-utf

### auto script modified 
nginx-1.7.9/auto/cc/gcc
nginx-1.7.9/src/core/nginx.c

ext-module/lottery.bak/
nginx-1.7.9.tar.gz
nginx-1.7.9/Makefile
nginx-1.7.9/objs/
libnginx/nginx-1.7.9
libnginx/researchnginx
